/* colors: #F92672 #A6E22E #FD971F #66D9EF #AE81FF #272822 */

body {
    background-color: #272822;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 16px solid #AE81FF;
    flex: 0 0 30rem;
    height: 30rem;
}

.clock-face {
    position: relative;
}

.tick {
    background-color: #FD971F;
    height: 1rem;
    border-radius: 50%;
    width: 1rem;
    transform-origin: calc(100% + 13rem + 0.5rem);
    position: absolute;
    top: calc(50% - 0.5rem);
    right: calc(50% + 13rem + 0.5rem);
    z-index: -1;
}

.tick:nth-child(1) {
    transform: rotate(120deg);
}

.tick:nth-child(2) {
    transform: rotate(150deg);
}

.tick:nth-child(3) {
    transform: rotate(180deg);
}

.tick:nth-child(4) {
    transform: rotate(210deg);
}

.tick:nth-child(5) {
    transform: rotate(240deg);
}

.tick:nth-child(6) {
    transform: rotate(270deg);
}

.tick:nth-child(7) {
    transform: rotate(300deg);
}

.tick:nth-child(8) {
    transform: rotate(330deg);
}

.tick:nth-child(9) {
    transform: rotate(360deg);
}

.tick:nth-child(10) {
    transform: rotate(30deg);
}

.tick:nth-child(11) {
    transform: rotate(60deg);
}

.tick:nth-child(12) {
    transform: rotate(90deg);
}

.hand {
    position: absolute;
    top: calc(50% - 3px);
    right: 50%;
    height: 6px;
    border-radius: 6px; 
    width: 14rem;
    transition: 0.1s transform cubic-bezier(0.84, 2.26, 0.63, 1.25);
    transform-origin: 100%;
    z-index: 0;
}

.hour-hand {
    width: 10rem;
    background: #A6E22E;
    z-index: 1;
}

.minute-hand {
    background: #66D9EF;
}

.second-hand {
    top: calc(50% - 1px);
    right: 50%;
    height: 2px;
    background: #F92672;
}